extends layouts/app.jade

block title
  title Blog

block main
  section.blog-banner.space.space-header.overflow-hidden
    .container.d-flex.justify-content-center.align-items-center.flex-wrap.flex-column.position-relative
      h1 Our Blogs
      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
  section.space.blog-archive
    .container
      .row
        .col-12
          article.mx-auto
            h3 FACTS ABOUT HOW YOUR HAIR WILL LOOK AFTER HAIR TRANSPLANT SURGERY
            .date November 23, 2018
            .avator
              .img
                img(src="" alt="")
              .text
                a.title(href="#") Maxim Hair Restoration      
                .name.m-0 Content Team
            p Before you have hair transplant surgery, you might want to know how it will turn out. The truth is that every head of hair is different from all others...   
              a(href="#") Read More    
