extends layouts/app.jade

block title
  title Home

block main
  include sections/video-banner.jade
  include sections/what_we_know_for.jade
  include sections/that_where_we_came_in.jade
  include sections/meet_our_team.jade