extends layouts/app.jade

block title
  title Home

block main
  div(style="padding: 150px 0")
    .container
      .row
        each val, index in ['Landing_Page_Design_Full_Gallery_with_Latest_Feedback','blog','location']
          .col-md-3
            a.d-block.overflow-hidden(href=val+".html" target="_blank" style="border: 1px solid #fff2f3; border-radius: 10px")
              img.w-100(src="dist/images/Pages/"+val+".png" alt="")