header.main-header
  .container-fluid
    nav.navbar.navbar-expand-xl.row.py-0
      a.navbar-brand.py-0(href='#')
        img(src="dist/images/logo.png" alt="")
      button.navbar-toggler(type='button' data-toggle='slide-collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        <i class="fas fa-bars"></i>
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mx-auto
          li.nav-item.dropdown.active
            a.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | sERVICES
            .dropdown-menu
              a.dropdown-item(href='hair-transplant-fut.html') FUT
              a.dropdown-item(href='follicular-unit-extraction.html') FUE
              a.dropdown-item(href='scalp-micropigmentation.html') SMP
              a.dropdown-item(href='facial-hair-transplants.html') Facial Hair Transplant
              a.dropdown-item(href='microneedling.html') Microneedling
              a.dropdown-item(href='hybrid.html') HYBRID
          li.nav-item
            a.nav-link(href='#') dOCTORS
          li.nav-item  
            a.nav-link(href='#') gALLERY
          li.nav-item  
            a.nav-link(href='#') uS lOCATIONS
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | intl lOCATIONS
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              a.dropdown-item(href='#') Something else here
        .menu-button
          a.text-nowrap(href="#") 
            span.mr-2 Call 
            | (802) 370-3227