section.meet_our_team.space
  .container
    .items-wraper
      .section-heading.p-0.d-flex.flex-column.justify-content-center.align-items-center.align-items-sm-start
        h4 Our Doctors
        h2 Meet Our Team
        p.mb-0 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      .item
        .img
          img.w-100(src="dist/images/doctor-1.png" alt="")
        .text.d-flex.flex-column.justify-content-center.align-items-center
          a.title(href="#") Dr. Doshi
          p Plastic surgeon. Performs FUE
      .item
        .img
          img.w-100(src="dist/images/doctor-2.png" alt="")
        .text.d-flex.flex-column.justify-content-center.align-items-center
          a.title(href="#") Dr. Bernett
          p Plastic surgeon. Performs FUE
      .item
        .img
          img.w-100(src="dist/images/doctor-3.png" alt="")
        .text.d-flex.flex-column.justify-content-center.align-items-center
          a.title(href="#") Dr. Hamwi
          p Plastic surgeon. Performs FUE
      .item
        .img
          img.w-100(src="dist/images/doctor-4.png" alt="")
        .text.d-flex.flex-column.justify-content-center.align-items-center
          a.title(href="#") Dr. Mayer
          p Performs hair transplants
      .item
        .img
          img.w-100(src="dist/images/doctor-5.png" alt="")
        .text.d-flex.flex-column.justify-content-center.align-items-center
          a.title(href="#") Dr. Thiele
          p hair transplant surgery   
    .text-center.see-button
      a.see-more.btn(href="#") See More                    
