section.that_where_we_came_in.space
  .container
    .row
      .col-12
        .section-heading.text-center
          h4 Why Maxim?
          h2 That's where we come in
    .items-wraper
      .item
        .img.d-flex.justify-content-center.align-items-end
          img(src="dist/images/came-1.png" alt="")  
        .text
          a.title(href="#") Affordable Prices
          h4 0% Financing
          p Lorem ipsum dolor sit amet, consetetur tempor rebum.
      .item
        .img.d-flex.justify-content-center.align-items-end
          img(src="dist/images/came-2.png" alt="")  
        .text
          a.title(href="#") Doctors are Surgeons
          h4 Not Ordinary Physicians
          p Lorem ipsum dolor sit amet, consetetur tempor rebum.      
      .item
        .img.d-flex.justify-content-center.align-items-end
          img(src="dist/images/came-3.png" alt="")  
        .text
          a.title(href="#") Mega Sessions
          h4 Up to 4,000 Grafts
          p Lorem ipsum dolor sit amet, consetetur tempor rebum.                    