.container-fluid.mt-4.pb-5 
  .video-carosual
    -for(var x=0; x<2; x++)
      .item
        img.w-100(src="dist/images/after-0.png" alt="")
      .item
        img.w-100(src="dist/images/after-1.png" alt="")  
      .item
        img.w-100(src="dist/images/after-2.png" alt="")  
      .item
        img.w-100(src="dist/images/after-3.png" alt="")  
      .item
        img.w-100(src="dist/images/after-4.png" alt="")  