section.what_we_known_for.bg-yellow.space
  .container
    .row
      .col-12
        .section-heading.text-center
          h4 Our Services
          h2 What we known for
  .item.left
    .img-wraper
      .img.d-flex.justify-content-center.align-items-end
        img(src="dist/images/service-1.png" alt="")        
    .text.d-flex.justify-content-center.flex-column
      h3 HAIR TRANSPLANT
      h4 FUT – FUE – Hybrid
      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut... labore et dolore magna aliquyam erat, sed diam voluptu dolores et ea rebum.
  .item.right
    .img-wraper
      .img.d-flex.justify-content-center.align-items-end
        img(src="dist/images/service-2.png" alt="")        
    .text.d-flex.justify-content-center.flex-column
      h3 NON-SURGICAL
      h4 PRP – SMP – Micro Needling
      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut... labore et dolore magna aliquyam erat, sed diam voluptu dolores et ea rebum.
  .item.left.mb-0
    .img-wraper
      .img.d-flex.justify-content-center.align-items-end
        img(src="dist/images/service-3.png" alt="")        
    .text.d-flex.justify-content-center.flex-column
      h3 FACIAL HAIR
      h4 Eyebrows – Beard – Mustache
      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut... labore et dolore magna aliquyam erat, sed diam voluptu dolores et ea rebum.
