.main-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: em(30px) 0;
  .navbar-brand {
    position: absolute;
  }
  .nav-item {
    padding: 0 em(17px);
    &.active {
      .nav-link {
        border-bottom: 2px solid #d32d38;
        @include sm {
          border: none;
        }
      }
    }
  }
  ul.navbar-nav .nav-link {
    color: rgba(#000105, 0.8);
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
  }
  .menu-button {
    position: absolute;
    right: 15px;
    a {
      color: #d32d38;
      border: 1px solid #d32d38;
      font-size: em(18px);
      font-weight: 500;
      display: block;
      text-decoration: none;
      padding: calc-em(17, 18) calc-em(48, 18);
      transition: 0.3s;
      &:hover {
        background: #d32d38;
        color: #fff;
      }
    }
  }
}
// ================================= mobile menu
.overlay-full {
  display: none;
  &.active {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    top: 0;
    display: block;
  }
}
@include xl {
  #navbarSupportedContent {
    padding-top: 30px;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    width: 272px; /*example + never use min-width with this solution */
    height: 100vh;
    background: #fff;
    display: block;
    transition: 0.5s;
  }
}
.main-header .navbar-brand,
.main-header .menu-button {
  @include xl {
    position: static;
  }
}
.main-header .navbar-brand {
  @include xl {
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
.main-header .menu-button {
  @include xl {
    margin: 10px 17px;
  }
}
.navbar-toggler {
  @include xl {
    margin-left: auto;
    margin-top: -15px;
    position: absolute;
    right: 10px;
    top: 18px;
  }
}
.navbar-collapse {
  @include xl {
    background: #fff;
  }
}
.main-header .menu-button a {
  @include xl {
    padding: 0.644em 1.667em;
    font-size: 16px;
  }
}
