.what_we_known_for {
  padding-bottom: em(103px);
  .item {
    display: grid;
    grid-template-columns: em(687px) em(570px);
    align-items: center;
    margin-bottom: em(84px);
    @include xl {
      grid-template-columns: 31.938em 28.625em;
    }
    @include lg {
      grid-template-columns: 1fr;
      margin-bottom: 3.25em;
    }
    &.left {
      .img-wraper,
      .img {
        @media (min-width: 992px) {
          border-left: 0;
        }
      }
    }

    .img-wraper {
      // border: em(25px) solid rgba(206, 206, 206, 0.08);
      // border-radius: em(30px) em(60px) em(60px) em(30px);
      position: relative;
      z-index: 2;
    }
    .img {
      border: em(20px) solid #fff;
      background: #f6f6f8;
      height: em(525px);
      box-shadow: 0 10px 60px rgba(206, 206, 206, 0.08);
      @include xl {
        height: 27.813em;
      }
      @include md {
        height: 20.813em;
      }
      @include sm {
        border: em(15px) solid #ffffff;
      }
    }
    .text {
      background-color: #ffffff;
      min-height: em(428px);
      padding: em(40px) em(66px);
      // margin-left: em(-30px);
      @include xl {
        min-height: 19.75em;
        font-size: 14px;
      }
      @include sm {
        padding: 2.5em 30px;
        font-size: 12px;
      }
      h3 {
        font-size: em(38px);
        font-weight: 700;
        color: rgba(#000000, 0.85);
      }
      h4 {
        color: #d53742;
        font-size: em(18px);
        margin-bottom: calc-em(35, 18);
        letter-spacing: calc-em(0.18, 18);
        font-weight: 400;
      }
      p {
        font-size: em(19px);
        font-weight: 300;
        color: rgba(#000000, 0.7);
        line-height: (36/19);
      }
    }
    &.right {
      justify-content: flex-end;
      // grid-template-columns: em(851px) em(965px);
      // grid-template-columns: em(605px) em(686px);
      grid-template-columns: em(570px) em(687px);
      @include xl {
        grid-template-columns: 28.625em 31.938em;
      }
      @include lg {
        grid-template-columns: 1fr;
      }
      .img-wraper {
        grid-column: 2/3;
        grid-row: 1;
        // border-radius: em(60px) em(30px) em(30px) em(60px);
        border-right: 0;
        @include lg {
          grid-column: 1/-1;
        }
      }
      .img {
        @media (min-width: 992px) {
          border-right: 0;
        }
      }
      .text {
        grid-column: 1/2;
        grid-row: 1;
        margin-left: 0;
        // margin-right: em(-30px);
        @include lg {
          grid-row: 2;
          grid-column: 1/-1;
        }
      }
    }
  }
}
// =============================== that_where_we_came_in
.that_where_we_came_in {
  .items-wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px em(42px);
    @include lg {
      grid-template-columns: 1fr;
    }
    .img {
      height: em(296px);
      background: #f7f7f9;
      margin-bottom: em(40px);
    }
    .text {
      .title {
        font-size: em(26px);
        color: rgba(#000000, 0.85);
        font-weight: 700;
        letter-spacing: calc-em(0.52, 26);
        @include xl {
          font-size: 1.5em;
        }
      }
      h4 {
        color: #d32d38;
        font-size: em(16px);
        margin-bottom: calc-em(17, 26);
        margin-top: calc-em(14, 26);
        font-weight: 400;
      }
      p {
        color: rgba(#000000, 0.42);
        line-height: (24/16);
      }
    }
  }
}
// ==================================== meet_our_tea
.meet_our_team {
  background-color: rgba(#000000, 0.01);
  .see-button {
    margin-top: em(70px);
  }
  .items-wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: em(76px) em(80px);
    @include lg {
      grid-template-columns: 1fr 1fr;
    }
    @include md {
      grid-column-gap: 1em;
      grid-row-gap: 30px;
    }
    @include sm {
      grid-template-columns: 1fr;
    }
    .item {
      background-color: #ffffff;
      // border: em(40px) solid rgba(174, 174, 174, 0.06);
      // border-radius: em(50px);
      box-shadow: 0 10px 60px rgba(174, 174, 174, 0.12);
      border: 1px solid rgba(0, 0, 0, 0.09);
      max-width: em(289px);
      margin: 0 auto;
      @include md {
        box-shadow: none;
      }
      .text {
        padding: em(18px) 15px;
      }
      .title {
        font-size: em(24px);
        color: rgba(#000000, 0.85);
        font-weight: 600;
        // text-transform: uppercase;
      }
      p {
        // font-weight: 500;
        color: rgba(#000000, 0.7);
        margin-bottom: 4px;
      }
    }
  }
}

// ==================================== .banner-video
.banner-video {
  position: relative;
  &:after {
    content: "";
    width: 63%;
    height: 90%;
    height: 93.7%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background-image: linear-gradient(
      170deg,
      #fff2f3 0%,
      #fff7f8 51%,
      #ffffff 100%
    );
    @include xl {
      height: 100%;
      width: 100%;
    }
  }
  .video-area {
    display: grid;
    grid-template-columns: em(612px) auto;
    grid-column-gap: em(65px);
    @include xl {
      grid-template-columns: 1fr;
      padding: 0 15px;
      grid-row-gap: 30px;
    }
  }
  .video {
    background: #fff8f9;
    border: em(20px) solid #ffffff;
    box-shadow: 0 0 em(20px) #fff8f9;
    min-height: em(488px);
    @include md {
      min-height: auto;
    }
    @include sm {
      border: em(15px) solid #ffffff;
    }
    @media (min-width: 1200px) {
      border-left: 0;
    }
    iframe {
      display: none;
      height: 100%;
      width: 100%;
    }
    &.play {
      iframe {
        display: block;
      }
      img,
      .playerID {
        display: none;
      }
    }
    .playerID {
      border: em(12px) solid rgba(#fff, 0.6);
      border-radius: 50%;
      position: absolute;
      right: 15px;
      bottom: 15px;
      cursor: pointer;
      @include rwd(480) {
        font-size: 10px;
      }
      i {
        background-color: #ffffff;
        width: em(76px);
        height: em(76px);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #d32d38;
        box-shadow: 0 2px 40px rgba(211, 45, 56, 0.1);
      }
    }
  }
  .content {
    max-width: em(672px);
    @include xl {
      // display: flex;
      // flex-flow: column wrap;
      // align-items: center;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    h1 {
      color: rgba(#000000, 0.85);
      font-size: em(52px);
      font-weight: 700;
      line-height: (68/52);
      @include md {
        font-size: 2.5em;
      }
      @include sm {
        font-size: 2em;
      }
    }
    .address {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px 15px;
      @include md {
        grid-template-columns: 1fr 1fr;
      }
      p {
        margin: 0;
        font-size: em(18px);
        color: #d32d38;
        font-weight: 500;
        line-height: (28/18);
        text-transform: uppercase;
        border-right: 1px solid #d32d38;
        line-height: 1;
        &:last-child {
          @media (min-width: 768px) {
            border-color: transparent;
          }
        }
        b {
          font-weight: 600;
        }
        a {
          display: block;
          color: #d32d38;
          font-size: calc-em(16, 18);
          margin-top: em(10px);
        }
      }
    }
  }
}
// ================================ .video-carosual
.video-carosual {
  margin: 0 -6px;
  .slick-arrow {
    width: 26px;
    height: 26px;
    box-shadow: 0 10px 20px rgba(138, 138, 138, 0.12);
    background-color: #ffffff;
    color: #d32d38;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: (-26px/2);
    z-index: 99;
    &.right {
      left: auto;
      right: 15px;
    }
  }
  .item {
    padding: 0 6px;
  }
}
