.service-page-top {
  background: none;
  position: relative;
  @include xl {
    background: #fdf5f6;
  }
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 70.425vw;
    background-image: linear-gradient(40deg, #fff2f3 0%, #ffffff 100%);
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    @include xl {
      display: none;
    }
  }
  &.space-header {
    padding-top: 7.5em;
  }
}
// ======================= .advantage
.advantage {
  padding: em(60px) 0;
  @include sm {
    padding-top: 0;
    padding-bottom: em(40px);
  }
  &.advantage-main {
    clip-path: polygon(0 0, 100% 9.5%, 100% 100%, 0 100%);
    margin-top: em(-40px);
    padding-top: em(60px+40);
    @include xl {
      clip-path: none;
    }
    @include sm {
      padding-top: 0;
      padding-bottom: em(40px);
      margin: 0;
    }
  }
  &-bg {
    background-color: rgba(#fafafa, 0.4);
  }
  .content-wraper {
    display: grid;
    grid-template-columns: auto em(474px);
    grid-column-gap: em(100px);
    @include lg {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
    }
    .img {
      padding: em(50px) 0;
      @include lg {
        margin: 0 auto;
        grid-row: 1;
      }
      &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: em(364px);
        background-color: rgba(#ffe5e7, 0.22);
        top: 0;
        right: 0;
        z-index: -1;
        @include lg {
          width: 100%;
          right: -50px;
        }
      }
    }
  }
}
// ================================ ..price-section
.price-section {
  padding: em(70px) 0;
  @include sm {
    padding-top: em(40px);
    padding-bottom: 0;
  }
  .content-wraper {
    display: grid;
    grid-template-columns: em(397px) auto;
    @include lg {
      grid-template-columns: 1fr;
    }
    &.img-right {
      grid-template-columns: auto em(398px);
      @include lg {
        grid-template-columns: 1fr;
      }
      .content {
        padding: em(20px) em(15px);
        padding-left: 0;
        @include lg {
          padding: em(20px) 0 !important;
          grid-row: 2;
        }
        &:after {
          left: auto;
          right: 100%;
          @include lg {
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
          }
        }
      }
    }
    .img {
      @include lg {
        margin: 0 auto;
      }
    }
    .content {
      background-color: rgba(#d32d38, 0.02);
      padding: em(20px) em(15px);
      padding-left: (64px);
      position: relative;
      @include rmd(992) {
        min-height: em(371px);
      }
      @include lg {
        background: none;
        padding: em(20px) 0;
      }
      &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100vw;
        left: 100%;
        top: 0;
        background-color: rgba(#d32d38, 0.02);
        z-index: -1;
        @include lg {
          left: 50%;
          right: 50%;
          margin-left: -50vw;
          margin-right: -50vw;
        }
      }
    }
  }
}

// ======================================== .post-op
.post-op {
  .content-wraper {
    grid-template-columns: auto em(529px);
    grid-column-gap: em(60px);
    @include lg {
      grid-template-columns: 1fr;
    }
    .img {
      &:after {
        // width: em(364px);
        background-color: rgba(#f1f1f1, 0.47);
      }
    }
  }
}
// ======================= why-maxim
.why-maxim {
  .img-left {
    grid-template-columns: em(529px) auto;
    grid-column-gap: em(73px);
    @include lg {
      grid-template-columns: 1fr;
    }
    .img {
      img {
        z-index: 2;
      }
      &:after {
        // width: em(364px);
        background-color: #ffffff;
        right: auto;
        left: 0;
        z-index: 1;
        @include lg {
          right: -50px;
          left: auto;
        }
      }
    }
  }
}
