* {
  outline: 0 !important;
}
body {
  font-family: "Poppins", sans-serif;
}
@media (min-width: 1200px) {
  .container {
    max-width: em(1200px);
    &-custom {
      max-width: 1040px;
    }
  }
}
img {
  max-width: 100%;
  max-height: 100%;
  &.h-intial {
    max-height: initial;
  }
}
.section-heading {
  padding-bottom: em(66px);
  h4 {
    font-size: em(22px);
    font-weight: 400;
    color: #d32d38;
    margin: 0;
    margin-bottom: calc-em(7, 22);
    &.border-before {
      &:before {
        content: "";
        display: inline-block;
        height: 2px;
        width: calc-em(25, 22);
        background: #d32d38;
        margin-right: calc-em(11, 22);
      }
    }
  }
  p {
    color: rgba(#000000, 0.53);
    margin-top: em(13px);
  }
  &.medium {
    max-width: em(375px);
    margin: 0 auto;
    padding-bottom: em(47px);
    h3 {
      font-size: em(34px);
      font-weight: 700;
      letter-spacing: calc-em(0.41, 34);
      color: rgba(#000000, 0.85);
      // text-transform: uppercase;
      margin: 0;
    }
    p {
      font-size: em(14px);
      color: rgba(#000000, 0.45);
      line-height: (20/14);
    }
  }
}
.mxw {
  &-100 {
    max-width: 100% !important;
  }
}
h1 {
  font-size: em(50px);
  font-weight: 700;
}
h2 {
  font-weight: 700;
  font-size: em(40px);
  color: rgba(#000105, 0.85);
  letter-spacing: calc-em(1.16, 40);
  margin: 0;
}
p {
  color: rgba(#000000, 0.7);
  font-size: em(16px);
  letter-spacing: em(0.48px);
  line-height: (26/16);
}
.bg {
  &-yellow {
    background-image: linear-gradient(
      180deg,
      rgba(255, 229, 231, 0.2) 0%,
      rgba(255, 229, 231, 0.2) 100%
    );
  }
}
.color {
  &-brick-red {
    color: #d32d38;
  }
  &-black {
    color: #000;
  }
}
.space {
  padding-top: em(67px);
  padding-bottom: em(67px);
  &-header {
    padding-top: em(102px);
  }
}

.see-more {
  font-size: em(16px);
  color: rgba(#000105, 0.85);
  font-weight: 600;
  border-radius: 0;
  border: 1px solid rgba(#000000, 0.9);
  min-width: calc-em(239, 20);
  min-height: calc-em(65, 20);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #d32d38;
    border-color: #d32d38;
    color: #fff;
  }
}

blockquote {
  color: rgba(#000000, 0.8);
  line-height: (28/16);
  border-left: 2px solid #d32d38;
  padding: em(5px) 0;
  padding-left: em(19px);
}

.list-red {
  li {
    color: rgba(#d32d38, 0.92);
    font-weight: 500;
    display: grid;
    grid-template-columns: calc-em(23, 16) 1fr;
    grid-column-gap: calc-em(13, 16);
    padding: em(10px) 0;
    i {
      // margin-top: calc-em(29, 18);
      // color: #d32d38;
      font-size: 23px;
    }
    span {
    }
    &:last-child {
      span {
        border-bottom-color: transparent;
      }
    }
  }
}
// ========================= .page-top
.border-bottom {
  border-color: rgba(#000000, 0.08) !important;
}
section.page-top {
  .content-wraper {
    grid-template-columns: 1fr 628px;
    grid-column-gap: em(52px);
  }
  .banner-big-img {
    position: relative;
    img {
      position: relative;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      height: em(434px);
      width: em(573px);
      right: 0;
      bottom: em(-10px);
      border: 1px solid #d32d38;
      z-index: 1;
    }
  }
  .details {
    background-color: rgba(#d32d38, 0.03);
    font-size: em(14px);
    color: rgba(#000000, 0.8);
    padding: calc-em(20, 14);
    .item {
      margin-bottom: 12px;
      display: flex;
    }
    .img {
      display: inline-block;
      width: 23px;
      margin-right: 10px;
    }
    .title {
      color: rgba(#d32d38, 0.8);
      font-size: calc-em(15, 14);
      font-weight: 500;
      margin-right: calc-em(20, 15);
    }
  }
}
