* {
  outline: 0 !important;
}
body {
  font-family: "Poppins", sans-serif;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
img {
  max-width: 100%;
  max-height: 100%;
}
.section-heading {
  padding-bottom: em(66px);
  h4 {
    font-size: em(22px);
    font-weight: 400;
    color: #d32d38;
    margin: 0;
    margin-bottom: calc-em(7, 22);
  }
  p {
    color: rgba(#000000, 0.53);
    margin-top: em(13px);
  }
}
h1 {
  font-size: em(50px);
  font-weight: 700;
}
h2 {
  font-weight: 700;
  font-size: em(40px);
  color: rgba(#000105, 0.85);
  letter-spacing: calc-em(1.16, 40);
  margin: 0;
}
p {
  color: rgba(#000000, 0.7);
  font-size: em(16px);
  letter-spacing: em(0.48px);
  line-height: (26/16);
}
.bg {
  &-yellow {
    background-image: linear-gradient(
      180deg,
      rgba(255, 229, 231, 0.2) 0%,
      rgba(255, 229, 231, 0.2) 100%
    );
  }
}

.space {
  padding-top: em(67px);
  padding-bottom: em(67px);
  &-header {
    padding-top: em(110px);
  }
}

.see-more {
  font-size: em(16px);
  color: rgba(#000105, 0.85);
  font-weight: 600;
  border-radius: 0;
  border: 1px solid rgba(#000000, 0.9);
  min-width: calc-em(239, 20);
  min-height: calc-em(65, 20);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #d32d38;
    border-color: #d32d38;
    color: #fff;
  }
}
